<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.inisiator.myapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="InisiatorX"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".checkoutnow"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Store"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Changepin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Change"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Ganci"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Eshopping"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Print"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReadActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CompleteBioActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EventDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QrTicketPreviewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TicketPaymentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Mutabaah"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Printmenu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Scanner2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScanAll"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Failed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Success"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>